<%= render "shared/header" %>
<div class="flex justify-center items-center h-screen">
  <div class="max-w-md w-full bg-white shadow-md rounded-lg p-4">
    <h2 class="text-lg font-semibold mb-4">Chat with <%= @receiver.profile.first_name %></h2>

    <div id="messages" class="max-h-96 overflow-y-auto">
      <!-- Add max height and overflow-y-auto for scrolling -->
      <% @messages.each do |message| %>
        <div class="<%= message.sent_by_current_user?(current_user) ? 'self-end' : 'self-start' %> flex space-x-4 m-3">
          <div class="flex-shrink-0 w-16 h-16">
            <% if message.sender.profile.profile_picture_public_id.present? %>
              <img class="w-full h-full rounded-full" src="<%= cl_image_path(message.sender.profile.profile_picture_public_id, width: 64, height: 64, crop: :fill) %>" alt="Profile Picture">
            <% else %>
              <div class="w-full h-full rounded-full bg-gray-300 flex items-center justify-center text-gray-600 text-2xl">&#x1F464;</div>
            <% end %>
          </div>
          <div class="flex-grow bg-gray-200 rounded-lg p-2">
            <p class="font-semibold"><%= message.sender.profile.first_name %></p>
            <p><%= message.content %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <%= render 'form' %>
    </div>
  </div>
</div>
