<%=render "shared/header"%>

<div class="flex justify-center  h-100">
  <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full space-y-4">
    <h1 class="text-2xl font-semibold mb-4">Friend Requests</h1>

    <% if @friend_requests.any? %>
      <ul>
        <% @friend_requests.each do |request| %>
          <li class="border border-gray-200 rounded p-4 flex items-center space-x-4 mb-4">
            <img src="<%= cl_image_path(request.friend.profile.profile_picture_public_id, width: 64, height: 64, crop: :fill) if request.friend.profile.profile_picture_public_id.present? %>" alt="Profile Picture" class="w-10 h-10 rounded-full">
            <span class="text-lg flex-grow"><%= request.friend.profile.first_name %></span>
            <div class="ml-auto flex items-center space-x-2">
              <%= button_to 'Accept', accept_friend_request_friend_path(request), method: :post, class: 'bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600 transition duration-300' %>
              <%= button_to 'Reject', reject_friend_request_friend_path(request), method: :delete, class: 'bg-red-500 text-white py-2 px-4 rounded-full hover:bg-red-600 transition duration-300' %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-gray-500">No pending friend requests.</p>
    <% end %>
  </div>
</div>

